body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula1 {
	height: 350px;
	width: 350px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.nebula2 {
	height: 300px;
	width: 300px;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}